@media (max-width: 768px) {
    header {
        height: 80vh;
    }
    .menu-link {
        display: none;
    }
    .burger {
        margin-right: 20px;
        display: block;

    }
    .burger i {
        font-size: 22px;
    }


    .banner-content {
        order: -1;
    }
    .banner .banner-content h3 {
        font-size: 35px;
        width: 341px;

    }
    .banner .banner-content p {
        font-size: 16px;
        width: 341px;
    }
    .banner .banner-img img {
        width: 280px;
        height: 254.15px;
    }


    .gard {
        flex-direction: column;
        justify-content:normal ;
        align-items: center;
    }
    .gard .title h3{
        text-align: center;
        font-size: 35px;
        line-height: 35px;

    }
    .gard .title h3 span {
        color: #E06733;
    }
    .gard .title p {
        width: auto;
        padding-top: 20px;
        text-align: center;

    }
    .gard .title-img img {
        width: 250px;
        height: 258px;
    }


    .service-top {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .container {
        max-width: 670px;
    }
    #myBtnContainer {
        padding-top: 20px;
        flex-wrap: wrap;
        padding: 12px 40px;

    }
    .title-service h3 {
        text-align: left;
        font-size: 35px;
        line-height: 40px;
        width: auto;
    }

    .box{
        width: 281px !important;
        height: 450px !important;
    }
    .logo-box img  {
        width: 280px;
        height: 350px;
         }

    .prices-title h2 {
        font-size: 35px;
        line-height: 42px;
    }
    .prices-title h3 {
        font-size: 25px;
    }




/*    contact*/

    .wrap {
        flex-direction: column;
        justify-content: center;
    }
    .btn-drop {
        order: -1;
    }
    .contact-foto img {
        margin-top: 250px;
        width: 200px;
        height: 248.49px;
        align-self: center;
        margin-left: 40px;
    }

    footer {
        height: auto;
    }
    .wrap-text {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
}
@media (max-width: 500px) {
    .prices {
        height: auto;
    }
    .prices-title {
        text-align: center;
        display: block;
    }
    .prices-title h3 {
        width: auto;
    }
    .dropdowns {
        margin-left: 80px;
        margin-bottom: 200px;
    }
  .prices-panel {
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .contact-us {
      order: -1;
  }

    .select-menu .select-btn {
        width: auto;
    }
    .select-menu .options {
        width: auto;
    }

}
@media (max-width: 640px) {
    .banner .banner-img  {
        display: none;
    }
    .banner .banner-content {
        margin-top: 0px;
    }
    .banner .banner-content h3 {

        text-align: center;
        font-size: 25px;
        line-height: 35px;
    }
    .banner .banner-content p {
        text-align: center;
        font-size: 16px;
        width: 314.52px;
    }
    .banner .banner-content button {
        padding: 8px 18px;
    }
}


@media (max-width: 380px) {

    .container {
        max-width: 330px !important;
    }
    .gard .title h3{
        font-size: 25px;


    }
    .gard .title h3 span {
        color: #E06733;
    }
    .gard .title p {
        padding-top: 20px;
        font-size: 15px;

    }

    .gard .title-img img {
        width: 150px;
        height: 147px;
    }
}

@media (max-width: 350px) {
    .banner .banner-content h3 {

        width: auto;
    }
    .banner .banner-content p {
        width: auto;
    }
}